{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.testimonial }}
  {{ if .enable }}
  <section class="site-testimonial">
    <div class="container">
      <div class="row">
        {{ range .testimonial_item }}
        <div class="col-lg-4 col-md-6">
          <div class="site-testimonial-item">
            <div class="site-testimonial-item-header">
              <div class="thumb">
                <img src="{{ .thumb | absURL }}" alt="user-thumb-one">
              </div>
              <div class="person">
                <h5>{{ .name }}</h5>
                <p>{{ .company_position }}</p>
              </div>
            </div>
            <!--- progression bar -->
            <div id="{{ .id }}" class="progression-bar">
              <div class="progression-bar-inner" style="display: flex;align-items: center;">
                <div class="progression-bar-inner-progress" style="width:0%;height: 5px;background-color: #f4a222"></div>
                <div class="progression-bar-val" style="color: #f4a222;padding-left: 5px;"></div>
              </div>
            </div>
            <p class="site-testimonial-item-body">
              {{ .quote }}
            </p>
            <p>
              <a href="{{ .url | absURL }}" class="nav-link btn btn-sm btn-primary btn-sm-rounded">Vote</a>
            </p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}