//site color variables
$body-color: #fff;
$primary-color: #f8D761;
$secondary-color: #4f1f37;
$text-color: #4f1f37;
$text-color-dark: #4f1f37;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #A88EAB;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;
