{{ define "main" }}

<section class="site-blog-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1>{{ .Title }}</h1>
        <p>
          {{ .Params.description }}
        </p>
        <div id="vote-form">
          <h4>Merci d'avoir voté pour moi..</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-blog">
  <div class="container">
    <div class="row">
    {{ partial "vote.html" . }}
    </div>
  </div>
</section>

{{ end }}